$lightGreen: #ade88f;
$darkGray: #464f41;
$lightGray: #9ba894;

body {
  color: $darkGray;
  background: #def2d5;
  font-family: 'Proza Libre', sans-serif;
}

hr {
  border-color: $lightGray;
}

.navbar {
  height: 130px;
  font-size: 1.1em;
  border-bottom: 1px solid $darkGray;
  background: #fff;

  img {
    width: 100px;
    margin-top: -50px;
  }

  .navbar-header {
    padding-top: 47px;
  }

  h1.navbar-brand {
    font-size: 2em;
    color: $darkGray;
    font-family: 'Oswald', sans-serif;
  }

  .navbar-nav {
    height: 130px;
    padding-top: 70px;
  }
}

.post {
  background: #fff;
  border: 1px solid $darkGray;
  border-radius: 10px;

  hr {
    clear: both;
  }

  img {
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
  }

  .img-detail {
    width: 75%;
    margin-left: 12.5%;
  }

  .date {
    float: right;
    margin-top: 25px;
    color: $lightGray;
  }

  .body-detail {
    padding: 30px;
  }
}

.post-detail {
  padding: 40px;
}

#page-body {
  margin-top: 150px;
}

#footer {
  color: $lightGray;
}
