<div class='post well'>
  <h2>About LRP</h2>
  <hr>
  <p>Leaf, Root, &amp; Petal is all about living a simpler, healthier life.</p>
  <p>By creating our own soaps and cosmetics we eliminate toxic chemicals and irritants from our daily regimen. Through herbal remedies we improve our health and happiness. And by crafting up wholesome foods we receive the energy and nutrients we need to be successful.</p>
</div>
