<div class='post well'>
  <h2>Contact LRP</h2>
  <hr>
  <p>For questions, concerns, or comments about Leaf, Root, &amp; Petal, contact us via email at:</p>
  <a href="mailto:leafrootandpetal@gmail.com">LeafRootAndPetal@gmail.com</a>
</div>
