<div class='row'>
  <div class='col-sm-8'>
    {{#each model as |post|}}
        {{post-tile post=post}}
    {{/each}}
    {{load-more loadMore="loadMore" postCount=postCount}}
  </div>
  <div class='col-sm-4'>
    {{new-post savePost="savePost"}}
  </div>
</div>
