<div class='row'>
  <div class='col-sm-8'>
    {{#each model as |post|}}
        {{post-tile post=post}}
    {{/each}}
    <button {{action 'loadMore'}} class='btn btn-square center-block'>Load More</button>
  </div>
  <div class='col-sm-4'>
    {{new-post savePost="savePost"}}
  </div>
</div>
