<div class='row'>
  <div class='col-sm-9'>
    {{post-detail post=model destroyPost="destroyPost" update="update"}}
    <div id='comments'>
      {{#each model.comments as |comment|}}
        {{comment-tile comment=comment destroyComment="destroyComment"}}
      {{/each}}
      {{new-comment post=model saveComment="saveComment"}}
    </div>
  </div>
  <div class='col-sm-3'>
    {{new-post savePost="savePost"}}
  </div>
</div>
